.nunito-uniquifier {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

body {
    margin: 0;
    font-family: "Nunito";
}

.header_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 55vh;
    padding: 2rem 1rem;
    box-sizing: border-box;
    background: linear-gradient(180deg,rgba(0, 0, 163, 1) 24%, rgba(89, 169, 255, 1) 100%);
}

.header_main_container,
.header_p_container {
    max-width: 900px;
    width: 100%;
    text-align: center;
}

.header_main_name {
    color: white;
    font-weight: 800;
    font-size: clamp(2.5rem, 8vw, 6rem);
    margin: 0;
}

.header_p_text {
    color: white;
    font-size: clamp(1rem, 2vw, 1.8rem);
    margin: 0;
}